html {
  margin: 0;
     background: url(http://wallpaperlayer.com/img/2015/8/solid-color-wallpaper-2118-2274-hd-wallpapers.jpg);
     background-size: 1440px 800px;
     background-repeat:no-repeatdisplay: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;

}
